<section class="g-section section-design">
    <div class="container">
        <div class="section-content">
            <h3 class="section-title">Fast and easy custom boxes your customers will love</h3>
            <div class="design-wrapper">
                <div class="design-card">
                    <div class="card-image">
                        <picture><source srcset="./images/design/design_1.webp" type="image/webp"><source srcset="./images/design/design_1.avif" type="image/avif"><img src="./images/design/design_1.png" alt=""></picture>
                    </div>
                    <div class="card-content">
                        <p class="card-title">You Order</p>
                        <p class="card-desc">
                            Design and order boxes in a few clicks.
                        </p>
                    </div>
                </div>
                <div class="design-card">
                    <div class="card-image">
                        <picture><source srcset="./images/design/design_2.webp" type="image/webp"><source srcset="./images/design/design_2.avif" type="image/avif"><img src="./images/design/design_2.png" alt=""></picture>
                    </div>
                    <div class="card-content">
                        <p class="card-title">We Proof</p>
                        <p class="card-desc">
                            Approve your designs before production.
                        </p>
                    </div>
                </div>
                <div class="design-card">
                    <div class="card-image">
                        <picture><source srcset="./images/design/design_3.webp" type="image/webp"><source srcset="./images/design/design_3.avif" type="image/avif"><img src="./images/design/design_3.png" alt=""></picture>
                    </div>
                    <div class="card-content">
                        <p class="card-title">We Print & Ship</p>
                        <p class="card-desc">
                            Your order gets printed and shipped with tracking.
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-footer">
                <button class="btn" type="button">Start your design</button>
            </div>
        </div>
    </div>
</section>
