<section class="g-section section-get-to-it">
    <div class="container">
        <div class="section-content">
            <h3 class="section-title">Let`s get to it</h3>
            <div class="section-buttons">
                <button type="button" class="btn _m">Start your design</button>
                <button type="button" class="btn btn--white _m">Browse all products</button>
            </div>
        </div>
    </div>
</section>
