<section class="g-section section-merchants">
    <div class="container">
        <h3 class="section-title">Merchants love Arka</h3>
        <div class="section-content">
            <div class="block-company">
                <div class="google">
                    <img src="./images/merchants/google.svg" alt="">
                </div>
                <div class="spotify">
                    <img src="./images/merchants/shopify.svg" alt="">
                </div>
            </div>
            <div class="merchants-cards">
                <div class="card">
                    <div class="card-images">
                        <picture><source srcset="./images/merchants/block_1/illustration_1.webp" type="image/webp"><source srcset="./images/merchants/block_1/illustration_1.avif" type="image/avif"><img src="./images/merchants/block_1/illustration_1.jpg" alt=""></picture>
                        <picture><source srcset="./images/merchants/block_1/illustration_2.webp" type="image/webp"><source srcset="./images/merchants/block_1/illustration_2.avif" type="image/avif"><img src="./images/merchants/block_1/illustration_2.jpg" alt=""></picture>
                    </div>
                    <div class="card-content">
                        <p class="card-desc">
                            “Arka’s team is super fast, knowledgeable, and easy to work with - highly recommended!”
                        </p>
                        <div class="card-user-info">
                            <div class="user-image">
                                <picture><source srcset="./images/merchants/block_1/user.webp" type="image/webp"><source srcset="./images/merchants/block_1/user.avif" type="image/avif"><img src="./images/merchants/block_1/user.jpg" alt=""></picture>
                            </div>
                            <div class="user-info">
                                <p class="user-name">Jesse</p>
                                <p class="user-desc">Subscription Catalyst</p>
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn--gray _m">Their story</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <p class="card-desc">
                            “I really like Arka because it’s a really nice box, I’ve gotten a lot of compliments on&nbsp;it.”
                        </p>
                        <div class="card-user-info">
                            <div class="user-image">
                                <picture><source srcset="./images/merchants/block_2/user.webp" type="image/webp"><source srcset="./images/merchants/block_2/user.avif" type="image/avif"><img src="./images/merchants/block_2/user.jpg" alt=""></picture>
                            </div>
                            <div class="user-info">
                                <p class="user-name">Leslie</p>
                                <p class="user-desc">Burgundy Fox</p>
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn--gray _m">Their story</button>
                            </div>
                        </div>
                    </div>
                    <div class="card-images">
                        <picture><source srcset="./images/merchants/block_2/illustration_1.webp" type="image/webp"><source srcset="./images/merchants/block_2/illustration_1.avif" type="image/avif"><img src="./images/merchants/block_2/illustration_1.jpg" alt=""></picture>
                        <picture><source srcset="./images/merchants/block_2/illustration_2.webp" type="image/webp"><source srcset="./images/merchants/block_2/illustration_2.avif" type="image/avif"><img src="./images/merchants/block_2/illustration_2.jpg" alt=""></picture>
                    </div>
                </div>
                <div class="card">
                    <div class="card-images">
                        <picture><source srcset="./images/merchants/block_3/illustration_1.webp" type="image/webp"><source srcset="./images/merchants/block_3/illustration_1.avif" type="image/avif"><img src="./images/merchants/block_3/illustration_1.jpg" alt=""></picture>
                        <picture><source srcset="./images/merchants/block_3/illustration_2.webp" type="image/webp"><source srcset="./images/merchants/block_3/illustration_2.avif" type="image/avif"><img src="./images/merchants/block_3/illustration_2.jpg" alt=""></picture>
                    </div>
                    <div class="card-content">
                        <p class="card-desc">
                            “I love how easily it was to customize the box, and you guys were more affordable.”
                        </p>
                        <div class="card-user-info">
                            <div class="user-image">
                                <picture><source srcset="./images/merchants/block_3/user.webp" type="image/webp"><source srcset="./images/merchants/block_3/user.avif" type="image/avif"><img src="./images/merchants/block_3/user.jpg" alt=""></picture>
                            </div>
                            <div class="user-info">
                                <p class="user-name">Anthony</p>
                                <p class="user-desc">Lipstick Junkie</p>
                            </div>
                            <div class="card-button">
                                <button type="button" class="btn btn--gray _m">Their story</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
