<section class="g-section section-products">
    <div class="container">
        <header class="section-header">
            <p class="section-title">
                Products you can customize
            </p>
            <div class="section-navigation">
                <button class="btn" type="button">Browse all products</button>
            </div>
        </header>
        <div class="section-content">
            <div class="products-wrapper">
                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_1.webp" type="image/webp"><source srcset="./images/product/product_1.avif" type="image/avif"><img src="./images/product/product_1.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Carton Boxes</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    Create a clean brand presentation with this custom carton box.
                                </p>
                                <p class="card-price">
                                    Starting at:
                                    <br>
                                    $10.44/unit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_2.webp" type="image/webp"><source srcset="./images/product/product_2.avif" type="image/avif"><img src="./images/product/product_2.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Boxes</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    A stylish and strong corrugated cardboard box.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_3.webp" type="image/webp"><source srcset="./images/product/product_3.avif" type="image/avif"><img src="./images/product/product_3.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Poly Mailers</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    A fully custom high quality self sealing poly mailer.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_4.webp" type="image/webp"><source srcset="./images/product/product_4.avif" type="image/avif"><img src="./images/product/product_4.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Tape</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    High quality custom tape to seal your shipping boxes during delivery.
                                </p>
                                <p class="card-price">
                                    Starting at:
                                    <br>
                                    $12.16/unit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_5.webp" type="image/webp"><source srcset="./images/product/product_5.avif" type="image/avif"><img src="./images/product/product_5.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Stickers</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    CAdd personality to your packages with custom stickers.
                                </p>
                                <p class="card-price">
                                    Starting at:
                                    <br>
                                    $0.41/unit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card-inner">
                        <div class="card-image">
                            <picture><source srcset="./images/product/product_6.webp" type="image/webp"><source srcset="./images/product/product_6.avif" type="image/avif"><img src="./images/product/product_6.png" alt=""></picture>
                        </div>
                        <div class="card-content">
                            <p class="card-title">Custom Tissue Paper</p>
                            <div class="card-footer">
                                <p class="card-desc">
                                    The perfect addition to branding your package.
                                </p>
                                <p class="card-price">
                                    Starting at:
                                    <br>
                                    $6.54/unit
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="section-footer">
            <p class="text">Need unbranded stock items?</p>
            <button class="btn btn--white" type="button">Shop stock</button>
        </footer>
    </div>
</section>
