.section-design {
	padding: 70px 0;

	.section-content {
		padding: 88px 50px;
		box-sizing: border-box;
		background-color: #72BDA3;
	}

	.section-title {
		margin-bottom: 46px;
		font-weight: 400;
		font-size: 32px;
		line-height: 1.2;
		text-align: center;
		color: $main_color_text;
	}

	.design-wrapper {
		display: flex;
		justify-content: space-between;
		margin-bottom: 76px;
		margin: 0 -50px;
	}

	.design-card {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0 50px;
		max-width: calc(100 / 3 * 1%);

		.card-image {
			margin-bottom: 12px;
		}

		.card-content {}

		.card-title {
			margin-bottom: 10px;
			font-weight: 400;
			font-size: 18px;
			line-height: 1.2;
			text-align: center;
			letter-spacing: 0.36px;
			color: $main_color_text;
		}

		.card-desc {
			font-weight: 400;
			font-size: 16px;
			line-height: 1.6;
			text-align: center;
			color: $secondary_color_text;
		}
	}

	.section-footer {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
