.section-merchants {
	padding-bottom: 58px;

	.section-title {
		padding: 88px 0 60px;
		box-sizing: border-box;
		font-weight: 700;
		font-size: 32px;
		line-height: 1;
		text-align: center;
		color: $main_color_text;
	}

	.section-content {
		background-color: #fff;
		box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
	}

	.block-company {
		display: flex;
		align-items: center;
		justify-content: space-between;

		.google {
			position: relative;
			padding: 100px 0;

			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 1px;
				height: 70px;
				background-color: #EEEEEE;
			}
		}

		.google,
		.spotify {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 50%;
		}
	}

	.merchants-cards {
		.card {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-bottom: 54px;
			}
		}

		.card-images {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: -4px;

			img {
				flex: 1 1 auto;
			}
		}

		.card-content {
			padding: 0 104px;
			flex: 1 1 auto;
		}

		.card-desc {
			padding: 0;
			margin: 0 0 12px;
			font-style: normal;
			font-weight: 400;
			font-size: 24px;
			line-height: 1.33;
			color: $main_color_text;
		}

		.card-user-info {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.card-button {

		}

		.user-info {
			margin-right: 18px;
		}

		.user-image {
			margin-right: 20px;
		}

		.user-name {
			padding: 0;
			margin: 0 0 4px;
			font-weight: 400;
			font-size: 18px;
			line-height: 1;
			color: $main_color_text;
		}

		.user-desc {
			padding: 0;
			margin: 0;
			font-weight: 400;
			font-size: 15px;
			line-height: 1;
			color: #A1A1A1;
		}
	}
}
