@import "../mixins/_reset_button";

.btn {
	@include resetButton;
	padding: 20px 30px;
	background-color: $secondary_color_text;
	position: relative;
	border-radius: 50px;
	font-family: $font_family;
	font-weight: 700;
	font-size: 14px;
	line-height: 1;
	letter-spacing: 1.96px;
	text-transform: uppercase;
	color: #FFFFFF;

	&:hover,
	&:focus {
		background-color: rgba($secondary_color_text, 0.8);
	}

	&.btn--white {
		background-color: #fff;
		color: $secondary_color_text;

		&:hover,
		&:focus {
			background-color: rgba(#fff, 0.8);
		}
	}

	&.btn--gray {
		background-color: #F2F2F2;
		color: $secondary_color_text;

		&:hover,
		&:focus {
			background-color: rgba(#F2F2F2, 0.8);
		}
	}

	&._m {
		padding: 15px 24px;
	}
}
