@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Bold/Roboto.woff") format("woff"), url("../fonts/Roboto/Bold/Roboto.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Light/Roboto.woff") format("woff"), url("../fonts/Roboto/Light/Roboto.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Regular/Roboto.woff") format("woff"), url("../fonts/Roboto/Regular/Roboto.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Medium/Roboto.woff") format("woff"), url("../fonts/Roboto/Medium/Roboto.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

a,
.link {
  outline: none;
}

a,
a:link,
a:visited,
.link,
.link:link,
.link:visited {
  font-family: inherit;
  color: #3D5675;
  text-decoration: none;
  cursor: pointer;
}

a.notClickable,
.link.notClickable {
  cursor: default;
}

a._inherit-color,
.link._inherit-color {
  color: inherit;
}

a._underlined-always,
.link._underlined-always {
  text-decoration: underline;
}

p a:hover,
a._link-underlined:hover,
._link-underlined a:hover,
p .link:hover,
.link._link-underlined:hover,
._link-underlined .link:hover {
  text-decoration: underline;
}

.g-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 1236px;
  padding: 0 16px;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: #011F3A;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.btn {
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  outline: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  border-radius: 0;
  /* inherit font & color from ancestor */
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-align: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  /* for input */
  -moz-appearance: none;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Remove excess padding and border in Firefox 4+ */
  padding: 20px 30px;
  background-color: #3D5675;
  position: relative;
  border-radius: 50px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.btn:hover,
.btn:focus {
  background-color: rgba(61, 86, 117, 0.8);
}

.btn.btn--white {
  background-color: #fff;
  color: #3D5675;
}

.btn.btn--white:hover,
.btn.btn--white:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.btn.btn--gray {
  background-color: #F2F2F2;
  color: #3D5675;
}

.btn.btn--gray:hover,
.btn.btn--gray:focus {
  background-color: rgba(242, 242, 242, 0.8);
}

.btn._m {
  padding: 15px 24px;
}

[class*=svg-] {
  font-size: 20px;
  position: relative;
}

[class*=svg-]:before {
  content: "";
  display: block;
}

[class*=svg-] svg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.svg-socials-facebook {
  width: 1.2em;
}

.svg-socials-facebook:before {
  padding-bottom: 100%;
}

.svg-socials-instagram {
  width: 1.2em;
}

.svg-socials-instagram:before {
  padding-bottom: 100%;
}

.svg-socials-twitter {
  width: 1.2em;
}

.svg-socials-twitter:before {
  padding-bottom: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 14px 44px rgba(84, 84, 84, 0.25);
}

.header .header__menu .menu-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header .header__menu .menu-link {
  display: inline-block;
  padding: 0 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.96px;
  text-transform: uppercase;
}

.header .header__menu .menu-link:hover,
.header .header__menu .menu-link:focus {
  text-decoration: underline;
}

.header .header__menu .menu-link.menu--left-icon {
  display: flex;
  align-items: center;
}

.header .header__menu .menu-link.menu--left-icon::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 12px;
  background-image: url("../images/icons/menu_icon.svg");
}

.header .header__menu .menu-link.menu--arrow {
  display: flex;
  align-items: center;
}

.header .header__menu .menu-link.menu--arrow::after {
  content: "";
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url("../images/icons/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header .header__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header__user .user-link {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.96px;
  text-transform: uppercase;
  color: #011F3A;
}

.header .header__user .user-link.link--account {
  padding: 0 24px;
}

.header-hero {
  padding: 86px 0;
  background-color: #F2AE4D;
}

.header-hero .hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-hero .content-left {
  padding: 0 120px;
  max-width: 740px;
  box-sizing: border-box;
}

.header-hero .hero-title {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #011F3A;
}

.header-hero .hero-desc {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.33;
  color: #011F3A;
}

.header-certified {
  padding: 20px 120px;
  background-color: #fff;
}

.header-certified .certified-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-certified .certified-item {
  display: flex;
  align-items: center;
}

.header-certified .image-wrapper {
  margin-right: 16px;
}

.header-certified .text-wrapper {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 0.6px;
  color: #A1A1A1;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  background-color: #EEEEEE;
}

.section-products .section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 58px 0;
  box-sizing: border-box;
}

.section-products .section-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #011F3A;
}

.section-products .products-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: -1px;
}

.section-products .product-card {
  width: 100%;
  max-width: 33.33%;
  padding: 1px;
  box-sizing: border-box;
}

.section-products .product-card .card-inner {
  height: 100%;
  background-color: #fff;
}

.section-products .product-card .card-image img {
  width: 100%;
}

.section-products .product-card .card-content {
  padding: 24px;
  box-sizing: border-box;
}

.section-products .product-card .card-title {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.36px;
  color: #011F3A;
}

.section-products .product-card .card-footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-products .product-card .card-desc {
  max-width: 210px;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #777777;
}

.section-products .product-card .card-price {
  min-width: 82px;
  padding-left: 12px;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  text-align: right;
  color: #A1A1A1;
}

.section-products .section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 46px 0;
}

.section-products .section-footer .text {
  margin-right: 18px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #A1A1A1;
}

.section-design {
  padding: 70px 0;
}

.section-design .section-content {
  padding: 88px 50px;
  box-sizing: border-box;
  background-color: #72BDA3;
}

.section-design .section-title {
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
  text-align: center;
  color: #011F3A;
}

.section-design .design-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
  margin: 0 -50px;
}

.section-design .design-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 50px;
  max-width: 33.3333333333%;
}

.section-design .design-card .card-image {
  margin-bottom: 12px;
}

.section-design .design-card .card-title {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.36px;
  color: #011F3A;
}

.section-design .design-card .card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #3D5675;
}

.section-design .section-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-advantage .section-content {
  padding: 86px 0 142px;
}

.section-advantage .section-title {
  margin-bottom: 82px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.2;
  color: #011F3A;
}

.section-advantage .design-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 -86px;
}

.section-advantage .design-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 86px;
  max-width: 33.3333333333%;
}

.section-advantage .design-card .card-image {
  margin-bottom: 54px;
}

.section-advantage .design-card .card-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.36px;
  color: #011F3A;
}

.section-advantage .design-card .card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #A1A1A1;
}

.section-request {
  padding: 60px 0;
}

.section-request .section-content {
  padding: 110px 90px;
  box-sizing: border-box;
  background-color: #FFCA3A;
  box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
}

.section-request .request-wrapper {
  display: flex;
  justify-content: space-between;
}

.section-request .request-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 120px;
  max-width: 50%;
  box-sizing: border-box;
}

.section-request .request-card:first-child {
  border-right: 2px solid rgba(161, 161, 161, 0.4);
}

.section-request .request-card .card-image {
  margin-bottom: 24px;
}

.section-request .request-card .card-content {
  text-align: center;
}

.section-request .request-card .card-title {
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #011F3A;
}

.section-request .request-card .card-desc {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: #3D5675;
}

.section-merchants {
  padding-bottom: 58px;
}

.section-merchants .section-title {
  padding: 88px 0 60px;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  color: #011F3A;
}

.section-merchants .section-content {
  background-color: #fff;
  box-shadow: 0 14px 44px rgba(143, 143, 143, 0.25);
}

.section-merchants .block-company {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-merchants .block-company .google {
  position: relative;
  padding: 100px 0;
}

.section-merchants .block-company .google::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 70px;
  background-color: #EEEEEE;
}

.section-merchants .block-company .google,
.section-merchants .block-company .spotify {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.section-merchants .merchants-cards .card {
  display: flex;
  align-items: center;
}

.section-merchants .merchants-cards .card:not(:last-child) {
  margin-bottom: 54px;
}

.section-merchants .merchants-cards .card-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -4px;
}

.section-merchants .merchants-cards .card-images img {
  flex: 1 1 auto;
}

.section-merchants .merchants-cards .card-content {
  padding: 0 104px;
  flex: 1 1 auto;
}

.section-merchants .merchants-cards .card-desc {
  padding: 0;
  margin: 0 0 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.33;
  color: #011F3A;
}

.section-merchants .merchants-cards .card-user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-merchants .merchants-cards .user-info {
  margin-right: 18px;
}

.section-merchants .merchants-cards .user-image {
  margin-right: 20px;
}

.section-merchants .merchants-cards .user-name {
  padding: 0;
  margin: 0 0 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #011F3A;
}

.section-merchants .merchants-cards .user-desc {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #A1A1A1;
}

.section-get-to-it .section-content {
  padding: 120px 0 134px;
}

.section-get-to-it .section-title {
  margin-bottom: 54px;
  font-weight: 700;
  font-size: 31px;
  line-height: 1;
  text-align: center;
  color: #011F3A;
}

.section-get-to-it .section-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -6px;
}

.section-get-to-it .section-buttons .btn {
  margin: 6px;
}

.g-footer {
  padding: 60px 0 76px;
  background-color: #F2F3F4;
}

.g-footer .section-content {
  display: flex;
  margin: 0 -46px;
}

.g-footer .footer-block {
  padding: 0 46px;
  min-width: 164px;
}

.g-footer .footer-block.block--menu {
  min-width: 170px;
}

.g-footer .footer-block.block--subscribe {
  min-width: 280px;
}

.g-footer .footer-block .block-title {
  padding: 0;
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  color: #3D5675;
}

.g-footer .footer-block .block-input {
  margin-bottom: 12px;
}

.g-footer .footer-block .block-input input {
  box-shadow: none;
  border: none;
  outline: none;
  border-radius: 0;
  width: 100%;
  -webkit-appearance: none;
  box-sizing: border-box;
  background-color: #FFF;
  padding: 8px 18px;
  box-sizing: border-box;
  border-radius: 34px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input:placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-block .block-input input.placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: rgba(61, 86, 117, 0.4);
}

.g-footer .footer-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.g-footer .footer-list .list-item:not(:last-child) {
  margin-bottom: 18px;
}

.g-footer .footer-list .list-socials {
  display: flex;
  margin: -5px;
}

.g-footer .footer-list .list-socials .list-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 5px;
  background-color: currentColor;
  border-radius: 50%;
}

.g-footer .footer-list .list-socials .list-link svg {
  fill: #fff;
}

.g-footer .footer-list .list-socials [class*=svg-] {
  display: block;
  font-size: 12px;
}

.g-footer .footer-list .list-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  color: #3D5675;
}
/*# sourceMappingURL=style.css.map */
